---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_151m2JFgKcqrRTFpr8XmeTk5&amount=999&description=MyFliX%20SIgn%20Up%20charge%20for%20friend%40friend.com&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_151m2KFgKcqrRTFpZfISV9lq",
          "object": "charge",
          "created": 1416694044,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "gbp",
          "refunded": false,
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_151m2KFgKcqrRTFpZfISV9lq/refunds",
            "data": []
          },
          "card": {
            "id": "card_151m2JFgKcqrRTFpERhU095V",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2017,
            "fingerprint": "DgDX42sUUB2CWCll",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_151m2KFgKcqrRTFpSaLS043Q",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "MyFliX SIgn Up charge for friend@friend.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {
            "stripe_report": "unavailable",
            "user_report": null
          },
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sat, 22 Nov 2014 22:07:25 GMT
recorded_with: VCR 2.9.3
