---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1578hTFgKcqrRTFpT7Q6uWyA&plan=Base&email=elnora.bosco%40anderson.com
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1417972804,
          "id": "cus_5Hi78htptLey2V",
          "livemode": false,
          "description": null,
          "email": "elnora.bosco@anderson.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Hi78htptLey2V/subscriptions",
            "data": [
              {
                "id": "sub_5Hi7DrLlXEJVAD",
                "plan": {
                  "interval": "month",
                  "name": "Base",
                  "created": 1417646913,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "Base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFliX Base"
                },
                "object": "subscription",
                "start": 1417972804,
                "status": "active",
                "customer": "cus_5Hi78htptLey2V",
                "cancel_at_period_end": false,
                "current_period_start": 1417972804,
                "current_period_end": 1420651204,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Hi78htptLey2V/cards",
            "data": [
              {
                "id": "card_1578hTFgKcqrRTFphPgPHH55",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "DgDX42sUUB2CWCll",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Hi78htptLey2V"
              }
            ]
          },
          "default_card": "card_1578hTFgKcqrRTFphPgPHH55"
        }
  recorded_at: Sun, 07 Dec 2014 17:20:04 GMT
recorded_with: VCR 2.9.3
