---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_151nLpFgKcqrRTFpZcYr0X3Q&amount=999&description=MyFliX%20SIgn%20Up%20charge%20for%20adele.wuckert%40rolfson.org&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_151nLrFgKcqrRTFpBmCwjtcP"
          }
        }
  recorded_at: Sat, 22 Nov 2014 23:31:40 GMT
recorded_with: VCR 2.9.3
