---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1593t4FgKcqrRTFpInYqTBhU",
          "livemode": false,
          "created": 1418430958,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1593t4FgKcqrRTFp0BAq6pMw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2018,
            "fingerprint": "DgDX42sUUB2CWCll",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 13 Dec 2014 00:35:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1593t4FgKcqrRTFpInYqTBhU&plan=Base&email=bob_stripe_test%40bob.com
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418430959,
          "id": "cus_5JhHhe1xbMlypl",
          "livemode": false,
          "description": null,
          "email": "bob_stripe_test@bob.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5JhHhe1xbMlypl/subscriptions",
            "data": [
              {
                "id": "sub_5JhHKyr9VOmhy8",
                "plan": {
                  "interval": "month",
                  "name": "Base",
                  "created": 1417646913,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "Base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFliX Base"
                },
                "object": "subscription",
                "start": 1418430959,
                "status": "active",
                "customer": "cus_5JhHhe1xbMlypl",
                "cancel_at_period_end": false,
                "current_period_start": 1418430959,
                "current_period_end": 1421109359,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5JhHhe1xbMlypl/cards",
            "data": [
              {
                "id": "card_1593t4FgKcqrRTFp0BAq6pMw",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2018,
                "fingerprint": "DgDX42sUUB2CWCll",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5JhHhe1xbMlypl"
              }
            ]
          },
          "default_card": "card_1593t4FgKcqrRTFp0BAq6pMw"
        }
  recorded_at: Sat, 13 Dec 2014 00:35:58 GMT
recorded_with: VCR 2.9.3
