---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1512rZFgKcqrRTFpBlvJ9f6P",
          "livemode": false,
          "created": 1416520397,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1512rZFgKcqrRTFpi0o5S3Ul",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2018,
            "fingerprint": "DgDX42sUUB2CWCll",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Thu, 20 Nov 2014 21:53:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_1512rZFgKcqrRTFpBlvJ9f6P&amount=315&description=Valid%20test%20charge&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1512raFgKcqrRTFp4gqsPu02",
          "object": "charge",
          "created": 1416520398,
          "livemode": false,
          "paid": true,
          "amount": 315,
          "currency": "gbp",
          "refunded": false,
          "card": {
            "id": "card_1512rZFgKcqrRTFpi0o5S3Ul",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2018,
            "fingerprint": "DgDX42sUUB2CWCll",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_1512raFgKcqrRTFp4gqsPu02/refunds",
            "data": []
          },
          "balance_transaction": "txn_1512raFgKcqrRTFpHTvkUaXR",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Valid test charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {
            "stripe_report": "unavailable",
            "user_report": null
          },
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Thu, 20 Nov 2014 21:53:18 GMT
recorded_with: VCR 2.9.3
