---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1512rbFgKcqrRTFpyAjB9ilx",
          "livemode": false,
          "created": 1416520399,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1512rbFgKcqrRTFpykwNP0Pu",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2018,
            "fingerprint": "TEIZYuCyHZaaj1iV",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Thu, 20 Nov 2014 21:53:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_1512rbFgKcqrRTFpyAjB9ilx&amount=315&description=Valid%20test%20charge&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1512rcFgKcqrRTFplGN1Jrcb"
          }
        }
  recorded_at: Thu, 20 Nov 2014 21:53:20 GMT
recorded_with: VCR 2.9.3
