---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15FZEPFgKcqrRTFp5JGmVHWC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15FZEPFgKcqrRTFp5JGmVHWC",
          "created": 1419981413,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15FZEPFgKcqrRTFpM4zUKuHF",
              "object": "charge",
              "created": 1419981413,
              "livemode": false,
              "paid": false,
              "amount": 2000,
              "currency": "usd",
              "refunded": false,
              "captured": false,
              "card": {
                "id": "card_15FZ91FgKcqrRTFpOfhXilvV",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "uuue6TsTqTOwV8bx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Jis7HpQjzW2DV"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5Jis7HpQjzW2DV",
              "invoice": null,
              "description": "Manual 2",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "Manual 2",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15FZEPFgKcqrRTFpM4zUKuHF/refunds",
                "data": []
              },
              "statement_description": "Manual 2"
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_5QQ4kTDrFyUJ7J",
          "api_version": "2014-11-05"
        }
  recorded_at: Tue, 30 Dec 2014 23:39:51 GMT
recorded_with: VCR 2.9.3
