!!! 5
%html(lang="en-US")
  %head
    %br
  %body
  %p
    Dear #{@user.full_name}, </br></br>
    Please find link below to reset your password.</br></br>
    = link_to "Click here to reset password", reset_password_url(@user.token), method: :get
    </br></br>
    Regards, </br></br>  
    The MyFlix Team