!!! 5
%html(lang="en-US")
  %head
    %br
  %body
  %p
    Dear #{@user.full_name}, </br></br>
    Thank you for signing up to MyFlix. The MyFlix Sign up fee has been charged to your credit card. </br>
    If you did not signup then please contact us on the link below. </br>
    Please login to start using MyFlix. Hope you have a joyful experience with MyFlix. </br></br>
    Regards, </br></br>  
    The MyFlix Team

