---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15925gFgKcqrRTFpzQJDS1v7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Dcc34mbp2qICW467RU70g43W
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15925gFgKcqrRTFpzQJDS1v7",
          "created": 1418424052,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15925gFgKcqrRTFpVy8WJW4S",
              "object": "charge",
              "created": 1418424052,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "gbp",
              "refunded": false,
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15925gFgKcqrRTFpVy8WJW4S/refunds",
                "data": []
              },
              "card": {
                "id": "card_15925eFgKcqrRTFpRkKFQT79",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2014,
                "fingerprint": "DgDX42sUUB2CWCll",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5JfQ36ppdP5h1H"
              },
              "balance_transaction": "txn_15925gFgKcqrRTFpFZ15pfZx",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5JfQ36ppdP5h1H",
              "invoice": "in_15925gFgKcqrRTFpcFgKoiO3",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFliX Base",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5JfQanMRLqxUMj",
          "api_version": "2014-11-05"
        }
  recorded_at: Sat, 13 Dec 2014 01:01:44 GMT
recorded_with: VCR 2.9.3
